@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.top-slider-container {
	position: relative;

	.slick-dots {
		@include respond-to($md) {
			bottom: 50px;
			left: 60px;
			text-align: left;
		}
	}
}
.cta--creat-plan {
	background-color: $color-orange;
	bottom: -65px;
	color: var(--bs-white);
	padding: 15px;
	padding-bottom: 0;
	max-width: 115px;
	position: absolute;
	text-align: center;
	right: 50px;
	&:focus,
	&:hover {
		color: var(--bs-white);
	}
}