a {
	text-decoration: none;
}
.img-fluid {
	display: inline-block;
	max-width: 100%;
}
.page-wrapper {
	margin-top: 126px;
}
.btn {
	border: 0;
}
.gh-heading {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 25px;
	text-align: center;
}

.cta {
	background-color: var(--bs-white);
	color: $color-black;
	display: block;
	max-width: 170px;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	
	&:hover,
	&:focus {
		background-color: $color-orange;
		color: var(--bs-white);
	}
	
	&--reverse {
		background-color: $color-orange;
		color: var(--bs-white);

		&:hover,
		&:focus {
			background-color: var(--bs-white);
			color: $color-orange;
		}
	}

	&--border {
		border: 1px solid $color-orange;
		color: $color-orange;

		&:hover,
		&:focus {
			background-color: $color-orange;
			color: var(--bs-white);
		}
		&-bottom {
			border: 0;
			border-bottom: 1px solid $color-orange;
			border-radius: 0;
			text-transform: uppercase;
		}
	}

	&--gh-green {
		background-color: $color-gh-green;
		border-radius: 0;
		color: var(--bs-white);
	}

	&--black {
		background-color: $color-black;
		color: var(--bs-white);
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	appearance: none;
}