.breadcrumb--wrapper {
	padding-top: 20px;

	.breadcrumb-item {
		.cta-home {
			img {
				display: block;
				padding-top: 4px;
			}
		}
		.breadcrumb-link {
			color: var(--bs-gray);
			font-size: 14px;
		}
	}
}