@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.meal-offer--wrapper {
	background-color: var(--bs-white);
	box-shadow: 0 0 20px 0 rgba($color-black, 0.15);
	max-width: 350px;
	padding: 20px;
	padding-right: 50px;
	position: absolute;
	right: 45px;
	top: 25px;
	.btn-close--offer {
		background-color: transparent;
		border: 0;
		color: $color-orange;
		cursor: pointer;
		font-size: 16px;
		font-weight: 500;
		right: 10px;
		top: 10px;
		position: absolute;
	}
	.offer-image {
		height: 40px;
	}
	.offer-content {
		margin-left: 15px;
		p {
			font-size: 14px;
			margin-bottom: 5px;
		}
		&--text {
			font-weight: bold;
		}
		&--cta {
			color: $color-orange;
			font-size: 14px;
			text-decoration: none;
		}
	}
}